<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Photo Sharing App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Photo Sharing App</h1>
        {% if request.user.is_authenticated %}
            <p>ようこそ、 {{ request.user }} さん</p>
            <p><a href="{% url 'photo_sharing_app:create' %}">投稿する</a></p>
            <form action="{% url 'photo_sharing_app:logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">ログアウトする</button>
            </form>
        {% elif request.resolver_match.url_name == 'login' %}
        {% else %}
            <p><a href="{% url 'photo_sharing_app:login' %}?next={{ request.get_full_path | urlencode  }}">ログインする</a></p>
        {% endif %}
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>&copy;&nbsp;Ryohei Funamoto</p>
    </footer>
</body>
</html>