{% extends 'photo_sharing_app/layouts/base.html' %}
{% block content %}
    <div class="posts">
        {% for post in posts %}
            <a href="#" class="post">
                <p>{{ post.title }}</p>
                <p>{{ post.content | truncatechars:50 }}</p>
                <p>投稿者: {{ post.posted_by }}</p>
                <p><time datetime="{{ post.created_at | date:'Y-m-d' }}">投稿日: {{ post.created_at | date:'Y/m/d' }}</time></p>
                <p><time datetime="{{ post.updated_at | date:'Y-m-d' }}">更新日: {{ post.updated_at | date:'Y/m/d' }}</time></p>
            </a>
        {% empty %}
            <p>まだ投稿がありません。</p>
        {% endfor %}
    </div>
{% endblock %}