{% extends 'photo_sharing_app/layouts/base.html' %}
{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}
{% block content %}
    <div class="d-flex">
        <h1 class="m-0">{{ post.title }}</h1>
        {% if post.posted_by == request.user and request.user.is_authenticated %}
            <ul class="list-unstyled d-flex ms-auto mb-0">
                <li><a href="{% url 'photo_sharing_app:edit' id=post.id %}" class="btn btn-warning">編集する</a></li>
                <li class="ms-3">
                    <form action="{% url 'photo_sharing_app:delete' id=post.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('削除しますか？')" class="btn btn-danger">削除する</button>
                    </form>
                </li>
            </ul>
        {% endif %}
    </div>
    <div class="d-flex mt-3">
        <p class="mb-0">投稿者: {{ post.posted_by }}</p>
        <p class="ms-3 mb-0"><time datetime="{{ post.created_at | date:'Y-m-d' }}">投稿日: {{ post.created_at | date:'Y/m/d' }}</time></p>
        <p class="ms-3 mb-0"><time datetime="{{ post.updated_at | date:'Y-m-d' }}">更新日: {{ post.updated_at | date:'Y/m/d' }}</time></p>
    </div>
    <div class="ratio mt-3" style="--bs-aspect-ratio: 62.5%"><img src="{{ post.image.url }}" alt="" class="mw-100 object-fit-cover"></div>
    <p class="mt-3 mb-0">{{ post.content | linebreaksbr }}</p>
    
    <ul class="list-unstyled mt-3">
        <li class="text-center"><a href="{% url 'photo_sharing_app:index' %}" class="text-decoration-none">トップへ戻る</a></li>
    </ul>
{% endblock %}