{% extends 'photo_sharing_app/layouts/base.html' %}
{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <div><img src="{{ post.image.url }}" alt=""></div>
    <p>{{ post.content | linebreaksbr }}</p>
    <p>投稿者: {{ post.posted_by }}</p>
    <p><time datetime="{{ post.created_at | date:'Y-m-d' }}">投稿日: {{ post.created_at | date:'Y/m/d' }}</time></p>
    <p><time datetime="{{ post.updated_at | date:'Y-m-d' }}">更新日: {{ post.updated_at | date:'Y/m/d' }}</time></p>
    {% if post.posted_by == request.user and request.user.is_authenticated %}
        <ul>
            <li><a href="{% url 'photo_sharing_app:edit' id=post.id %}">編集する</a></li>
            <li>
                <form action="{% url 'photo_sharing_app:delete' id=post.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('削除しますか？')">削除する</button>
                </form>
            </li>
        </ul>
    {% endif %}
    <ul>
        <li><a href="{% url 'photo_sharing_app:index' %}">トップへ戻る</a></li>
    </ul>
{% endblock %}