{% extends 'photo_sharing_app/layouts/base.html' %}
{% block title %}投稿編集ページ | {{ block.super }}{% endblock %}
{% block content %}
    <h1>投稿編集ページ</h1>
    <form action="{% url 'photo_sharing_app:edit' id=post.id %}" method="POST" enctype="multipart/form-data" novalidate class="mt-3">
        {% csrf_token %}
        {% include 'photo_sharing_app/components/form.html' %}
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-warning">更新する</button>
        </div>
    </form>
    <ul class="list-unstyled mt-3">
        <li class="text-center"><a href="{% url 'photo_sharing_app:show' id=post.id %}" class="text-decoration-none">「 {{ post.title }} 」へ戻る</a></li>
    </ul>
{% endblock %}